.hero-img-mobile
{
    display: none;

}

.hero-img-web
{
    /* height: 40vh; */
    margin-right: auto;
    margin-left: auto;
    display: block;
    /* width: 100%; */
}

@media screen and (max-width: 768px)
{
    .hero-img-mobile{
        /* display: list-item; */
        display: none;
        width: 100%;
        /* height: auto; */
    }   
    .hero-img-web{
        display: none;
    }
}

@media screen and (max-width: 460px){
    .hero-img-mobile{
        /* display: list-item; */
        display: none;
        top: 48vh;
        width: 100%;
        /* height: auto; */
    }  
    
}
